body{
    background-color:skyblue;
}

form{
    margin-left:25vw;
    width: 50vw;
    background-color: white;
    border:solid black 1px;
    padding:5px;


    width: 50vw;
    background-color: white;
}

